.slide {
  width: 10em;
  animation-duration: 2s;
  animation-name: slidein;
  }

  @keyframes slidein {
    from {
      margin-left: 50%;
      width: 50%; 
    }
    to {
      margin-left: 0%;
      width: 10em;
    }
  }
