.span {
  display: block;
  transition: all 5s linear 0s;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 1s;
  transition-timing-function: linear;
  transition-delay: 0s;
}

.span:hover {
  opacity: 0;
}

.h3 {
  display: inline;
  transition: background-color 1s ease;
  color: purple;
  background-color: yellow;
}

.h3:hover {
  color: green;
  background-color: cyan;
}

.img {
  float: left;
  padding: .1em .5em 0 0;
  -webkit-transition: width 2s, height 2s, background-color 2s, -webkit-transform 2s;
  transition: width 2s, height 2s, background-color 2s, transform 2s;
}

.img:hover {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
